table {
  margin: auto;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: gray;
}

#th_top {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.th_bottom:first-child {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.img-wrapper {
  background: url('images/jack.jpg');
  height: 200px;
  width: 200px;
  border: 10px solid gray;
  padding: 0px;
}
img {
  border: 10px solid gray;
  height: 200px;
  width: 200px;
  border-collapse: collapse;
  background-size: cover;
  background: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  text-align: center;
}

td {
  border: 1px solid black;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: darkgray;
}